<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="skola" connectionString="Data source=INF_4_07\SQLPBG; Initial Catalog=projekat_2026; Integrated security=true"/>
    <add name="kuca" connectionString="Data source=INF_4_07\SQLPBG; Initial Catalog=projekat_2026; Integrated security=true"/>
    
  </connectionStrings>
</configuration>
